body {
    background: url(images/topbackground.jpg) fixed;
    background-size: 500px;
    font-family: Martian Mono;
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}

@font-face {
    font-family: Martian Mono;
    src: url("Martian\ Mono.ttf");
}

* {
    font-family: Martian Mono;
    color: #ffffff;
}

h1 {
    font-size: 25px;
}

a:hover {
    font-style: italic;
}

#container {
    width: 900px!important;
    height: 100vh;
    border-right: double #ff0000 5px;
    margin: 0;
    background: #000000;
}

.content {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: #ff0000 #440000;
    scrollbar-width: thin;
    direction: rtl;
}

.content p, .content h1 {
    direction: ltr;
}

header img {
    filter: contrast(2);
}

nav {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav button {
    border: #ffffff 3px solid;
    border-left: none;
    background: #000000;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

nav button:hover {
    color: #ff0000;
    border: #ff0000 3px solid;
    border-left: none;
}

nav button a:hover {
    color: #ff0000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px;
}

article {
    width: 100%;
    border: #ff0000 5px double;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
}

article h1 {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: #000000;
    margin: 0;
    padding: 0px 5px;
    color: #ff0000;
}

article:last-child {
    margin-bottom: 15px;
}

hr {
    color: #ffffff;
    width: 100%;
    box-shadow: #ffffff 0 0 10px 2px;
}