{% extends "templates/base.html" %}

{% block title %}home{% endblock %}

{% block firstAside %}
    {{ super() }}
{% endblock %}

{% block mainContent %}
      <article id="6" class="blog-post apr26" style="text-align: left;">
        <a href="https://leefymoons-room.net/feed.xml"><img src="images/rss-icon.png" style="position: absolute;top: 0;right: 0;margin: 20px;"></a>
        <h1>#6 // 4.11.26</h1>
        <h2>xband 3: now you're playing for REAL!</h2>
        <p>
        MAN do i have a lot to say about xband 3. first off, HUGE props to TommyD my man
        (and everyone elso who is contributing!!) for putting all of this together. this service is
        already boomin and it's only been a few weeks.
        </p>
        <p>
        ok. let me back up a bit. xband for those who aren't complete nerds, was a service (mainly) for 
        snes and sega genesis consoles. xband allowed you to play online with a cartridge and a modem! for the
        90s it was <i>quite</i> revolutionary, but that's besides the point. since it's not the 90s
        and snes and genesis aren't the mainstream anymore, obviously the og xband is shutdown. but!
        xband 2 and xband 411 came within the last decade or so, and did a pretty good job at reviving
        xband! though like they say, all good things eventually come to an end. but wait, there's more!
        (i know i know...) at some point before xband 3 there was a service made to revive the og service yet again,
        that i think..? might still be up? idk i'm not an xband expert so i could be VERY wrong :kek:
        </p>
        <p>
        well now that you know what xband is, what about xband 3? well. as someone who has never had much of 
        an interest in retro gaming, xband 3 is fuckin awesome. so far it can run on windows, mac (if it wants to lol), 
        linux, and technically og xbox! it's honestly a bit unreal to me, but xband 3 is
        basically the <b>official</b> modern day xband because tommy got grace from the og creators to use all of the 
        xband branding n shit! and you wanna know something even better? i got to MAKE the website for xband 3!
        yes that's right! i'm usually not one to brag publically like this, but this is pretty huge for me.
        the website is <a href="https://xband3.com">https://xband3.com</a> so go check it out to see my flawless*
        90s web designing skillz :3 (and to learn how to become a tester!) as of me writing this blog post,
        the service is still in closed alpha. but if you are truly interested, you can contact me on discord OR sign up
        on the website! either way, i think where xband 3 is headed is nothing but awesomeness and i can't
        wait to see what the future holds! again, HUGEEEE props to TommyD and really that whole community,
        i'm very glad to experience the making of something great. 
        </p>
        <small>*only tested on IE6+, don't blame me if it doesn't work on mosaic or something, you damn dinosaurs!</small>
      </article>
      <article id="5" class="blog-post mar26" style="text-align: left;">
        <a href="https://leefymoons-room.net/feed.xml"><img src="images/rss-icon.png" style="position: absolute;top: 0;right: 0;margin: 20px;"></a>
        <h1>#5 // 3.26.26</h1>
        <h2>the leef returns?!?</h2>
        <p>hey peoples!!! i have decided to make yet another blog post because i don't do it enough &lt;/3 and you 
        can definitely expect more posts because i can actually deploy my own updates again! the lovely 
        <a href="https://epicness.wtf/">epicness</a> set up a forgejo thingy for me!! now i can push my silly little 
        updates at anytime :yippee: so i haaaaave been experimenting with nodejs a little bit lately, i know i know... 
        i said backend was scary... but tbh <i>so far</i> it hasn't been all that bad! i know i'll probably regret 
        saying that in the future, but eh whatever. i would love to add a backend to this site, but that likely won't 
        be for a GOOOOOD while since i have a lot to learn... either way, thank you jarhead for basically pushing me 
        into nodejs and saying good luck :kek:
        </p>
        <p>as for some other things going on in my life right now, i've also been able to play games a lot more recently!
        those who are friends with me know of my (proud) overwatch addiction...and how much more i've been playing lately ^^'
        i finally played ranked for this season and got placed into bronze 2! for me, that's not bad at all. but another
        game i've been playing lately is mirror's edge! i played mirror's edge catalyst in 2022 in a week when i had covid, and
        it's still one of my very favorite games today :] now i got both mirror's edge games and i'm playing the og since i never played. 
        well, that's about all i have to say for now, cyas!! <small>man it felt good to yap...</small>
        </p>
      </article>
      <article id="4" class="blog-post mar26" style="text-align: left;">
        <a href="https://leefymoons-room.net/feed.xml"><img src="images/rss-icon.png" style="position: absolute;top: 0;right: 0;margin: 20px;"></a>
        <h1>#4 // 3.16.26</h1>
        <h2>the struggles of programming....</h2>
        <p>ok. i love learning new things, but programming is a WHOLE different breed :sob: i took
        discovering comp sci last year so i understand the basic of programming, but MAN is it terrifying to try
        and actually put the pieces together... literally tried learning c++ and WHAT THE FUUUUCK i hate it!! was
        it a bit bold for me to do with only being decent at javascript? yes absolutely! so now i'm gonna maybe
        continue learning python from where i left off in comp sci last year... i did get a huge ass python book a
        few months ago so maybe i should crack that open :p another thing is actually finding a project to work
        on! like sure i have my website, but there's only soooo much i can do with it without having a backend
        (which is scary). i'm sure i'll find something i'm interested in enough and start programming away, but
        until then i am stuck sigh... ok goodbye for now :]
        </p>
      </article>
      <article id="3" class="blog-post feb26" style="text-align: left;">
        <a href="https://leefymoons-room.net/feed.xml"><img src="images/rss-icon.png" style="position: absolute;top: 0;right: 0;margin: 20px;"></a>
        <h1>#3 // 2.7.26</h1>
        <h2>it my birthday <3</h2>
        <p>it's that time again!! i'm getting older... :( but in all seriousness, i'm a bit happy because
        i can drive now!! dunno exactly when i'll start learning tho lol.. but as for all things birthday
        related, i have one thing i'd like to talk about :3 so a few weeks ago i was looking at zunes on ebay
        while on call with my two friends (jarhead appreciation &lt;3) and jarhead finds a good deal on an
        untested one. so he sent me a gift card as a birthday present, so yippee! then fast forward a week
        later, i get the zune... and its screen is broken :( but i know all was fair and square because i
        mean it did say "untested" but now the struggle is finding a screen!! so far i've only found a
        screen on alibaba out of all places... but jarhead might've found someone that has a screen so im
        PRAYING. well anyway, it my birthday. i go celebrate n shit now. ok bye :p
        </p>
      </article>
      <article id="2" class="blog-post jan26" style="text-align: left;">
        <a href="https://leefymoons-room.net/feed.xml"><img src="images/rss-icon.png" style="position: absolute;top: 0;right: 0;margin: 20px;"></a>
        <h1>#2 // 1.9.26</h1>
        <h2>i love ipods!! :3</h2>
        <p>oh my beloved ipods... where do i start?? my interest in ipods came from no one other than
        dankpods! (i know, how shocking...) BUT hear me out. i'm not like one of those retroslop elitests that
        only like ipod because they're "old". i like ipods because i'm a nerd :3 that and streaming music isn't
        really that great anymore... i love the designs of the different ipods, especially the numerous colors of
        the ipod nanos *_* i actually have an ipod of my own! it a purple 4th gen nano and i LOVE
        her!! i use her as a daily driver for school and basically anytime i leave the house. sure it's an 8gb
        model, but she still gets the job done :]
        </p>
      </article>
      <article id="1" class="blog-post dec25" style="text-align: left;">
        <a href="https://leefymoons-room.net/feed.xml"><img src="images/rss-icon.png" style="position: absolute;top: 0;right: 0;margin: 20px;"></a>
        <h1>#1 // 12.21.25</h1>
        <h2>my strange obsession with wii u games lately</h2>
        <p>i always wanted a wii u when i was younger, but sadly to this day i still do not have one :( but
        thank god for emulators! my friend has gotten me into playing super mario 3d world with her by remoting
        into her pc and using cemu. while it's a bit of a hassle to do with her on linux, it's still quite fun
        getting to play games that i wanted to play when i was younger. we've also been playing a lot of mario
        kart 8 (which she kicks my ass in) and sometimes our friends join in! it did become unusable at one point
        because cemu was being all screwy on her new install of linux, so she had to reinstall linux 2 or 3 times
        T_T but i would say it was worth the struggle because now we can play pretty much any wii u game ^^
        </p>
      </article>
{% endblock %}