{% extends "templates/base.html" %}

{% block title %}home{% endblock %}

{% block firstAside %}
    {{ super() }}
{% endblock %}

{% block mainContent %}
    <article>
            <h1>welcome!</h1>
            <p>
              hey! glad to have you here! welcome to my room! here is simply a
              site to practice and improve my coding skills. this site is sadly
              not mobile friendly, but i higly encourage you to view in desktop
              mode! well, i won't keep you any longer, go check everything out!
              i hope you enjoy your stay :]
            </p>
          </article>
          <article>
            <h1>sign the guestbook?</h1>
            <p>
              you know you want to... but in all honesty please do sign it!
              you'll get to leave your mark on a random piece of the internet! <a href="http://users3.smartgb.com/g/g.php?a=s&i=g36-36245-c9">(old guestbook)</a>
            </p>
            <iframe id="guestbook" src="https://leefymoons-room.atabook.org/"></iframe>
          </article>
          <article id="whats-new">
            <h1>what's in the new</h1>
            <div class="lastfm">
                  
            </div>
            <div id="new-interests">
              <div class="interest-child"><p>interest: xband 3</p></div>
              <div class="interest-child"><p>game: overwatch</p></div>
              <div class="interest-child"><p>movie: iron lung (2026)</p></div>
              <div class="interest-child"><p>tv show: supernatural</p></div>
              <div class="interest-child"><p>music: senses fail</p></div>
              <div class="interest-child"><p>youtuber: bringus studios</p></div>
            </div>
          </article>
          <article>
            <h1>updates</h1>
            <div class="updates-container">
              <div class="update">
                <h2>4.17.26</h2>
                <p>made a new button and put the old one back as well!</p>
              </div>
              <div class="update">
                <h2>4.3.26</h2>
                <p>redesigned the twenty one pilots shrine and actually finished it LOL</p>
              </div>
              <div class="update">
                <h2>3.30.26</h2>
                <p>changed up the about me, answered 100 questions!</p>
              </div>
              <div class="update">
                <h2>3.28.26</h2>
                <p>changed main font, added no longer maintained disclaimer to graphics page</p>
              </div>
              <div class="update">
                <h2>3.26.26</h2>
                <p>removed the bg of the main content, changed blog layout slightly, added random facts to the did you know section of aside</p>
              </div>
              <div class="update">
                <h2>3.18.26</h2>
                <p>added a link to join my discord server!</p>
              </div>
              <div class="update">
                <h2>3.16.26</h2>
                <p>made a new site button! redesigned the sites section on the home page :]</p>
              </div>
              <div class="update">
                <h2>3.1.26</h2>
                <p>did some minor redesigning to what's new, updates, the about page, and resources! changed guestbook to atabook and made it an iframe! added my email to socials :]</p>
              </div>
              <div class="update">
                <h2>2.20.26</h2>
                <p>added a legacy version! along with other things such as 2 new socials and explosions when you click!</p>
              </div>
              <div class="update">
                <h2>2.7.26</h2>
                <p>new cursor! replaced pikidiary in socials with bluesky! changed book to music in what's new and added a tv show.</p>
              </div>
              <div class="update">
                <h2>1.12.26</h2>
                <p>
                  changed the layout some more! there's an aside and the nav
                  buttons have a gradient!
                </p>
              </div>
              <div class="update">
                <h2>12.21.25</h2>
                <p>
                  changed the layout slightly! the nav is now at the top and the
                  main is not in a scrollbox! i also restarted my blog, simply
                  because i wanted to focus it onto other things :p (also the
                  blog has an rss feed now!!)
                </p>
              </div>
              <div class="update">
                <h2>12.10.25</h2>
                <p>added links to my socials section on the about page</p>
              </div>
              <div class="update">
                <h2>11.23.25</h2>
                <p>NEW REDESIGN!!! go check out everything!!</p>
              </div>
              <div class="update">
                <h2>11.8.25</h2>
                <p>
                  removed the shows section from what's shaking and added
                  youtubers! i watch youtube more than shows, what do you want
                  from me...
                </p>
              </div>
              <div class="update">
                <h2>10.20.25</h2>
                <p>
                  added a what's shaking page! see what's in the now with my
                  interests ^^ also removed the album of the week and added my
                  socials!
                </p>
              </div>
              <div class="update">
                <h2>9.17.25</h2>
                <p>
                  changed the last.fm widget! widget was made by my sweet friend
                  <a href="https://github.com/Savy011/lastfm-widget">savy</a> :]
                </p>
              </div>
              <div class="update">
                <h2>9.16.25</h2>
                <p>added a subnav for about and graphics!</p>
              </div>
              <div class="update">
                <h2>9.15.25</h2>
                <p>
                  changed the title image for articles, changed the height of
                  the two site button sections, and changed the navigation
                  styling ^^
                </p>
              </div>
              <div class="update">
                <h2>8.20.25</h2>
                <p>
                  revamped my twenty one pilots shrine and added a discography
                  page to it!
                </p>
              </div>
              <div class="update">
                <h2>8.17.25</h2>
                <p>
                  started to make graphics, so i added a section for my graphics
                  on the graphics page! and i also added a little kitty on the
                  landing page ^^
                </p>
              </div>
              <div class="update">
                <h2>7.31.25</h2>
                <p>
                  added a status.cafe widget! (creds to
                  <a href="https://hal.nekoweb.org/">hal</a> for the clippy
                  stylizing) also removed the aside poll and moon phase widget
                  (may add poll back)! added a last.fm widget!
                </p>
              </div>
              <div class="update">
                <h2>7.24.25</h2>
                <p>
                  added a new webring! put the webrings in the footer on every
                  page!
                </p>
              </div>
              <div class="update">
                <h2>7.8.25</h2>
                <p>
                  redesigned the resources page and added a new blog indicator!
                </p>
              </div>
              <div class="update">
                <h2>7.1.25</h2>
                <p>
                  finished my first shrine!! i hope to make more ^^ also
                  adjusted the site buttons!! added buttons to welcome page!
                </p>
              </div>
              <div class="update">
                <h2>6.19.25</h2>
                <p>added the music webring thingy to my footer!! ^_^</p>
              </div>
              <div class="update">
                <h2>5.28.25</h2>
                <p>
                  added a news scroller and a shrines page! shrines coming
                  soon...
                </p>
              </div>
              <div class="update">
                <h2>5.27.25</h2>
                <p>
                  changed the link on the welcome page to be that silly eric
                  andre gif :3
                </p>
              </div>
              <div class="update">
                <h2>5.26.25</h2>
                <p>
                  changed the blog post layout! now it's only the blog post, the
                  disco mode button, and a go back button :] removed the "lm"
                  prefix from the html files, and made a warning page!
                </p>
              </div>
              <div class="update">
                <h2>5.25.25</h2>
                <p>
                  i got my own domain!! both my neocities and nekoweb now
                  redirect to my domain!
                </p>
              </div>
              <div class="update">
                <h2>5.18.25</h2>
                <p>added new graphics (in every category) go check em out!!</p>
              </div>
              <div class="update">
                <h2>5.9.25</h2>
                <p>made a new blog system! go test it ^_^</p>
              </div>
              <div class="update">
                <h2>5.8.25</h2>
                <p>
                  changed up the aside a bit and added an imood widget and moon
                  phase cycle widget!!
                </p>
              </div>
              <div class="update">
                <h2>5.4.25</h2>
                <p>
                  made a new fucking layout!! there's also a new page! go
                  explore!!
                </p>
              </div>
              <div class="update">
                <h2>4.29.25</h2>
                <p>
                  changed up the color scheme a tad bit! it's also probably a
                  bit more readable with the white :]
                </p>
              </div>
              <div class="update">
                <h2>4.3.25</h2>
                <p>
                  added a 'disco mode', try it out by clicking the button
                  labeled 'disco mode'! (warning for bright colors)
                </p>
              </div>
              <div class="update">
                <h2>4.2.25</h2>
                <p>
                  added the 'follow on nekoweb' button to the footer! feel free
                  to make an account on
                  <a href="https://nekoweb.org">nekoweb.org</a> and follow me!!
                </p>
              </div>
              <div class="update">
                <h2>3.31.25</h2>
                <p>added new graphics!! go check them out!!!</p>
              </div>
              <div class="update">
                <h2>3.27.25</h2>
                <p>added a favicon!! (its so cute i love it)</p>
              </div>
              <div class="update">
                <h2>3.26.25</h2>
                <p>
                  Added a different clock to the aside! Also added first snippet
                  of JS, allows the contents of the aside and the footer buttons
                  to be defined by a custom tag.
                </p>
              </div>
              <div class="update">
                <h2>2.4.25</h2>
                <p>
                  i've switched to nekoweb! my neocities page will soon redirect
                  to my nekoweb website :] also got rid of the dividers :(( i
                  had to get rid of them so that i could implement the new
                  article positioning!
                </p>
              </div>
              <div class="update">
                <h2>2.2.25</h2>
                <p>
                  happy (late) new year! i finally changed the site button, so
                  make sure to get the new code! i was thinking of doing a
                  weekly kandi thing? let me know what you all think! until next
                  update...
                </p>
              </div>
              <div class="update">
                <h2>11.18.24</h2>
                <p>
                  well hey there! seems like the website had a layout change
                  again eh? i learned how to use css grid! the updates are on
                  the homepage!! also album of the week!! hoping to make a new
                  site button soon cuz current one is crappy..
                </p>
              </div>
              <div class="update">
                <h2>10.7.24</h2>
                <p>
                  changed navigation position and style! added a "back to top?"
                  redirect on graphics page!
                </p>
              </div>
              <div class="update">
                <h2>9.27.24</h2>
                <p>added icons to the graphics page!</p>
              </div>
              <div class="update">
                <h2>9.26.24</h2>
                <p>woah!! the graphics page is done!!! go check it out!!</p>
              </div>
              <div class="update">
                <h2>9.24.24</h2>
                <p>
                  site button!! and some cool sites in the footer i suggest you
                  check out!!
                </p>
              </div>
              <div class="update">
                <h2>9.23.24</h2>
                <p>
                  ooo new color!! and a new background!! new guestbook button
                  too!! the graphics page is still a work in progress but i hope
                  to have it done soon! stay tuned!
                </p>
              </div>
              <div class="update">
                <h2>9.8.24</h2>
                <p>
                  redesign!! now the updates simply have a spot over here :] not
                  mobile friendly now, but maybe soon :p blog page will now be
                  used for life updates as well! (graphics page coming soon!!)
                </p>
              </div>
              <div class="update">
                <h2>7.1.24</h2>
                <p>
                  woo!! update 2!! i made the site mobile friendly!! i plan on
                  adding things to the side but idk what yet :p let me know what
                  you guys think!!
                </p>
              </div>
              <div class="update">
                <h2>5.26.24</h2>
                <p>
                  hey! well, this is the first update, so i don't know what you
                  expect.. but i'll mainly use this page as an update log for
                  the site, but i will also update on my life from time to time.
                  stay tuned!
                </p>
              </div>
            </div>
          </article>
          <article id="sites-article">
            <h1>sites galore!</h1>
            <div id="sites-article-child" class="sites-left-col">
              <script>
                function copyText(image) {
                  navigator.clipboard.writeText(`<a href='https://leefymoons-room.net' target='_blank'><img src='https://leefymoons-room.net/images/${image}.gif'></a>`);
                }
              </script>
              <p>add my site button! click any button to copy the code!</p>
              <div>
                <img src="images/siteButtonOG.gif" style="border: 1px #8a2be2 solid;" onclick="copyText('siteButtonOG')"/>
                <img src="images/siteButton.gif" style="border: 1px #8a2be2 solid;" onclick="copyText('siteButton')"/>
                <img src="images/siteButton2.gif" style="border: 1px #8a2be2 solid;" onclick="copyText('siteButton2')"/>
              </div>
            </div>
            <div id="sites-article-child" class="sites-right-col">
              <p>here's some sites that i find very cool!</p>
              <a href="https://moonlit-blossom.neocities.org"><img src="images/moonlitblossombutton.jpeg"/></a>
              <a href="https://kyurems-webroom.neocities.org"><img src="images/ksitebutton.png"/></a>
              <a href="https://lukaszone.neocities.org/"><img src="https://lukaszone.neocities.org/kkkk (online-video-cutter.com).gif" alt="Lukas Zone" title="Zone Yourselves In!"/></a>
              <a href="https://daniele63.com/"><img src="https://files.catbox.moe/5nn8i3.jpg"/></a>
              <a href="https://openbooks.neocities.org"><img src="https://openbooks.neocities.org/img/88x31.gif" height="31" width="88" style="image-rendering: pixelated"/></a>
              <a href="https://miniwildpanda.neocities.org"><img src="https://files.catbox.moe/78mv2j.gif"/></a>
              <a href="https://thegibusguy.neocities.org"><img src="https://files.catbox.moe/yua6cx.png"/></a>
              <a href="https://t-hates-you.neocities.org/" target="_blank"><img src="https://file.garden/ZoyWx9J8Swks2aed/evilfuckingwebsite.webp"/></a>
              <a href="https://wheatley-science.neocities.org/"><img src="https://files.catbox.moe/li94r4.gif"/></a>
              <a href="https://maxboi.neocities.org"><img src="https://files.catbox.moe/t8r38w.png"/></a>
              <a href="https://kuroi.com.br/"><img src="https://files.catbox.moe/2z8jar.png"/></a>
              <a href="https://xxstephsroomxx.neocities.org/" target="_blank"><img src="https://files.catbox.moe/6twpl4.png" height="31" width="88" alt="stephs room"/></a>
              <a href="https://dimden.dev/"><img src="https://dimden.dev/services/images/88x31.gif"/></a>
              <a href="https://guh.nekoweb.org/" target="_blank"><img src="https://guh.nekoweb.org/myguhsite.gif"/></a>
              <a href="https://salutationsjosh.neocities.org/"><img src="https://salutationsjosh.neocities.org/assets/button/button.gif"/></a>
              <a href="https://lochi.nekoweb.org" target="_blank"><img src="https://lochi.nekoweb.org/images/buttons/lochi.gif"/></a>
              <a href="https://ginasfs.neocities.org/"><img src="https://ginasfs.neocities.org/images/button2.png" width="88px"/></a>
              <a href="https://texasisforever.com/"><img src="https://files.catbox.moe/fav8kc.png" width="88px"/></a>
              <a href="https://sillyspecimen.neocities.org/"><img alt="silly website :P" src="https://sillyspecimen.neocities.org/buttonthingwow.gif"/></a>
              <a href="https://arataka.moe/" target="_blank"><img alt="Laith Rai7an" src="https://arataka.moe/image/button/arataka-a.gif"/></a>
              <a href="https://potentia.moe"><img src="https://potentia.moe/img/tm.gif" title="potentia.moe"/></a>
              <a href="https://twentyphanday.nekoweb.org/" target="_blank"><img src="https://i.postimg.cc/kG46XqhD/ezgif-16d5f3c131cb7a.gif" /><img/></a>
              <a href="https://meyr0s3.neocities.org/"><img src="https://64.media.tumblr.com/eede0e56a5894b048a0fe5703716b57d/418c63fdabf4f018-b9/s100x200/9e18343b242936031b54f99782e4f24e1413e264.gifv"/></a>
              <a href="https://moonkiip.neocities.org/"><img src="https://moonkiip.neocities.org/mkbutton.png"/></a>
              <a href="https://xxmyonlyfrenxx.neocities.org/"><img src="https://neocities.org/site_thumbnails/99/24/xxmyonlyfrenxx/buttons/mybutton.png.210x158.webp" width="88" height="31"/></a>
              <a href="https://mayonmnnaise.nekoweb.org" target="_blank"><img src="https://mayonmnnaise.nekoweb.org/button.png"/></a>
              <a href="https://hal.nekoweb.org/" target="_blank"><img src="https://hal.nekoweb.org/sitebutton.png" alt="HAL"/></a>
              <a href="https://sclptures.neocities.org"><img src="https://i.ibb.co/DP3qxn22/pagebutton2.png"/></a>
              <a href="https://yvas.me/"><img src="https://i.ibb.co/35qPj4KN/savy-banner-d-Fh-Ll-H1h.gif"/></a>
              <a href='https://cyberwright.nekoweb.org' target='_blank'><img src='https://cyberwright.nekoweb.org/assets/imgs/cyberwright-btn.png' alt='text cyberwright on a generic blue sky and green grass background' style='image-rendering: pixelated'></a>
              <a href="https://random.diamondbyte.org/"><img src="https://i.postimg.cc/1XkXvj09/button.png"/></a>
              <a href="https://chipsfunfun.neocities.org/"><img src="https://i.ibb.co/s9355Dx4/image.png"/></a>
              <a href="https://acidicalchemist.nekoweb.org"><img src="https://i.ibb.co/3mtnbFZT/image.png" style="width: 88px; image-rendering: pixelated"/></a>
              <a href="https://crosstalk.im/"><img src="images/CTButton.gif"/></a>
              <a href="https://rynizx.xyz"><img src="https://rynizx.xyz/ryniButton.gif" alt="ryni button"/></a>
              <a href="http://silica.codes/"><img src="images/crystalwebsiteButton.gif"/></a>
              <a href="https://preloading.dev"><img src="images/preloadingButton.gif"/></a>
              <a href="https://retrosite.org/"><img src="images/jaredbutton.gif"></a>
              <a href="http://gdsk.retrosite.org"><img src="images/gdskbutton.gif" width="88" height="31"></a>
              <a href="https://starve.nekoweb.org" target="_blank"><img src="https://file.garden/aOk1yhNw7BBWJ6_b/but2.gif"></a>
              <a href="https://ultra0.xyz/"><img src="images/ultra0button.gif"></a>
              <a href="https://racerduvan.nekoweb.org/" target="_blank"><img src="https://images2.imgbox.com/56/9a/93sceAXl_o.gif" alt="racerduvan.nekoweb.org" loading="lazy"></a>
              <a href='https://fort1nd.com' target='_blank'><img src='https://leefymoons-room.net/fort1nd/images/ogFortButton.png'></a>
              <a href="https://park-city.club/~frix"><img src="images/frixnew.gif"></a>
              <a href="http://cadrega.dev"><img style="image-rendering: pixelated" width="88" height="31" src="http://cadrega.dev/img/88x31/88x31a.gif"></a>
              <a href="https://nick99nack.com"><img src="images/nick99nack88x31.gif"></a>
            </div>
        </article>
{% endblock %}