{% extends "templates/base.html" %}

{% block title %}my tech{% endblock %}

{% block firstAside %}
    {{ super() }}
{% endblock %}

{% block mainContent %}
          <article>
            <h1>pick a category!</h1>
            <div class="tech-category">
                <h2><a href="mytech/pcs" target="_self">PCs &gt;&gt;</a></h2>
                <hr>
                <p>4 devices &#8226; these poor things have been extremely abused</p>
            </div>
            <div class="tech-category">
                <h2><a href="mytech/mp3-players" target="_self">MP3 Players &gt;&gt;</a></h2>
                <hr>
                <p>3 devices &#8226; music so good i gotta have devices just for it</p>
            </div>
            <div class="tech-category">
                <h2><a href="mytech/consoles" target="_self">Consoles &gt;&gt;</a></h2>
                <hr>
                <p>5 devices &#8226; do you even game bro?</p>
            </div>
          </article>
{% endblock %}