{% extends "templates/base.html" %}

{% block title %}blog{% endblock %}

{% block firstAside %}
    {{ super() }}
{% endblock %}

{% block mainContent %}
                <article>
                    <h1>links</h1>
                    <div class="resource">
                        <a href="https://lunapic.com">lunapic</a>
                        <p>quick and simple photo editing</p>
                    </div>
                    <div class="resource">
                        <a href="https://w3schools.com">w3schools</a>
                        <p>information on a shit ton of coding languages, helpful for learning to code</p>
                    </div>
                    <div class="resource">
                        <a href="https://codecademy.com">codecademy</a>
                        <p>lessons on how to code</p>
                    </div>
                    <div class="resource">
                        <a href="https://ultimate-guitar.com">ultimate guitar</a>
                        <p>guitar + bass tabs and chords</p>
                    </div>
                    <div class="resource">
                        <a href="https://fmhy.net">fmhy</a>
                        <p>the only site you'll ever need for sailing the seven seas</p>
                    </div>
                    <div class="resource">
                        <a href="https://adriansblinkiecollection.neocities.org/">adrian's blinkie collection</a>
                        <p>a SHIT TON of blinkies for all my graphics freaks</p>
                    </div>
                    <div class="resource">
                        <a href="https://massgrave.dev">massgrave</a>
                        <p>helpful for <i>legally</i> obtaining windows isos and keys</p>
                    </div>
                    <div class="resource">
                        <a href="https://crosstalk.im">crosstalk</a>
                        <p>an instant messaging revival service (like msn messenger)</p>
                    </div>
                    <div class="resource">
                        <a href="https://gdsk.retrosite.org">gdsk!</a>
                        <p>a revival of the service google desktop</p>
                    </div>
                </article>
                <article>
                    <h1>programs</h1>
                    <div class="resource">
                        <a href="https://transmissionbt.com/">transmission</a>
                        <p>unpacks torrents</p>
                    </div>
                    <div class="resource">
                        <a href="https://www.vpngate.net/">vpn gate</a>
                        <p>a free vpn (very slow)</p>
                    </div>
                    <div class="resource">
                        <a href="https://www.mediahuman.com/youtube-to-mp3/32/">mediahuman youtube to mp3 converter</a>
                        <p>downloads songs off youtube and other music platforms</p>
                    </div>
                    <div class="resource">
                        <a href="https://teknixstuff.com/Libraries/Projects/Revert8Plus/">revert8plus</a>
                        <p>a good windows 7/vista transformation pack for windows 10 and 11*</p>
                    </div>
                    <div class="resource">
                        <a href="https://github.com/dremin/RetroBar">retrobar</a>
                        <p>replicates the taskbars of previous windows (ex. win 95, xp, vista, etc.)</p>
                    </div>
                    <div class="resource">
                        <a href="https://github.com/Open-Shell/Open-Shell-Menu">open shell menu</a>
                        <p>replicates start menus of previous windows (ex. win 95, xp, vista, etc.)</p>
                    </div>
                </article>
{% endblock %}