body {
    background: #030e2a;
}

* {
    font-family: MS PGothic;
    color: #fff!important;
}

h2, p {
    margin: 5px;
}

#main-table {
    width: 700px;
}

#nav-table td{
    height: 20px!important;
    width: 200px;
    text-align: center;
    background: linear-gradient(to right, #00289f, #001145);
}

#nav-table td:hover {
    background: linear-gradient(to left, #00289f, #001145);
}

#nav-table td p{
    margin: 0!important;
}


td {
    border: #fff 1px solid;
}