{% extends "templates/base.html" %}

{% block title %}mp3 players{% endblock %}

{% block firstAside %}
    {{ super() }}
{% endblock %}

{% block mainContent %}
          <article class="tech-article" id="sansa">
            <h1>sansa</h1>
            <h2 style="margin-bottom: 10px;">oooooo pretty pink</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/sansa.jpg" style="margin: auto;">
            </div>
            <p>
            this thing... y'know i really don't have a whole ton to say about this one. i mean well other than 
            the fact that its screen goes white when you turn it on 90% of the time. but other than that i really 
            liked this thing! its wheel literally SPINS. hell if you can't make it a touchwheel, the next best 
            thing is definitely making it spin. it also has microsd storage which is great, i wish more mp3 players 
            had them :( one thing i HATED though is sometimes it would turn on at full volume and deafen me for 
            a solid 2 seconds... but yeah no this thing was really the first mp3 player i used and it was quite nice :)
            </p>
            <button onclick="show('zune')"><p>&lt; prev</p></button>
            <button onclick="show('nano')"><p>next &gt;</p></button>
          </article>
          <article class="tech-article" id="nano" style="display: none;">
            <h1>ipod nano</h1>
            <h2 style="margin-bottom: 10px;">why she so ourple</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/ipod.jpg" style="margin: auto;">
            </div>
            <p>
            OUUGHHHH MY NANO oh how i love my nano. this thing is FULL (quite literally) of music and i love her.
            i got her for xmas 2023 and i've used it everyday since. it's an ipod nano 4th, which is one that has 
            a battery expansion issue LOLLL but i still chose to ask for it because purple &lt;3 it's the 8gb model 
            so it issss a bit annoying that all of my music doesn't fit on there, but it's alright. luckily i haven't 
            really had any issues with thing thing (yet).
            </p>
            <p>
            though one thing i did have happen is it fell out of my pocket on my front lawn while it was raining and it 
            SAT there for 2 hours. now you would've thought the thing was gone right? nope! put that bitch in rice and 
            she was good to go the next day :3 oh how i love you my nano...
            </p>
            <button onclick="show('sansa')"><p>&lt; prev</p></button>
            <button onclick="show('zune')"><p>next &gt;</p></button>
          </article>
          <article class="tech-article" id="zune" style="display: none;">
            <h1>helen keller zune</h1>
            <h2 style="margin-bottom: 10px;">thank you jarhead, ebay how could you let me down</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/zune.jpg" style="margin: auto;">
            </div>
            <p>
            yes that is a broken screen. no i didn't break it, let me explain. my lovely friend jarhead was so kind to 
            buy me a zune from ebay, how sweet i know... now this zune was $40. you may be thinking how a zune could be 
            so cheap, right? well. it was untested. i knew this, but i didn't expect the screen to be broken LMAO so 
            obviously i'm devestated but i'm hoping to repair it <b>if</b> i can find a screen (if anyone has a zune 
            30 screen they're will to give up PLEASE let me know!!).
            </p>
            <p>
            besides the fact that it has a broken screen (hence the name of helen keller), it works completely fine! 
            it synced all of my music, plays it, all of it is fine and dandy. for now it sits on top of the poverty 360 
            on its dock and plays music for my forza sessions :3
            </p>
            <button onclick="show('nano')"><p>&lt; prev</p></button>
            <button onclick="show('sansa')"><p>next &gt;</p></button>
          </article>
          <script>
      function show(elementID) {
         // find the requested page and alert if it's not found
        const ele = document.getElementById(elementID);
        if (!ele) {
          alert("no such element");
          return;
        }

        // get all pages, loop through them and hide them
        const pages = document.getElementsByClassName('tech-article');
        for (let i = 0; i < pages.length; i++) {
          pages[i].style.display = 'none';
        }

        // then show the requested page
        ele.style.display = 'block';
        const y = document.getElementById('aside-contain').getBoundingClientRect().top + window.scrollY;
        window.scroll({
          top: y,
          behavior: 'smooth'
        });
      }
    </script>
{% endblock %}