{% extends "templates/base.html" %}

{% block title %}my tech{% endblock %}

{% block firstAside %}
    {{ super() }}
{% endblock %}

{% block mainContent %}
          <article class="tech-article" id="adele-ii">
            <h1>adele II</h1>
            <h2 style="margin-bottom: 10px;">DELL DIMENSION 3000.</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/adeleII.jpg" style="margin: auto;">
              <table height="370px">
                <tr>
                  <th></th>
                  <th>specs</th>
                </tr>
                
                <tr>
                  <td>CPU</td>
                  <td>Pentium 4 3.00GHz</td>
                </tr>
                <tr>
                  <td>RAM</td>
                  <td>2GB DDR</td>
                </tr>
                <tr>
                  <td>GPU</td>
                  <td>heh you're funny</td>
                </tr>
                <tr>
                  <td>HDD</td>
                  <td>160GB</td>
                </tr>
                <tr>
                  <td>OS</td>
                  <td>Windows XP Pro SP3</td>
                </tr>
              </table>
            </div>
            <p>
            my sweet sweet child... THIS computer was my second (we don't talk about the first) xp machine, 
            and it's been through quite the journey! i found it in my basement of all places, still can't 
            believe it was hidden from me all this time... so after my first xp machine died, my dad helped 
            me to see if this dell worked... in the kitchen. questionable setup aside, when we plugged it in it
            worked just fine! the hard drive in it had some rando's fresh install of xp, so i kept it! it has
            now sat in my room since the beginning of 2025 &lt;3
            </p>
            <button onclick="show('leefyPC')"><p>&lt; prev</p></button>
            <button onclick="show('bbqrt')"><p>next &gt;</p></button>
          </article>
          <article class="tech-article" id="bbqrt" style="display: none;">
            <h1>BBQRT</h1>
            <h2 style="margin-bottom: 10px;">ew an arm32 linus</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/bbqrt.jpg" style="margin: auto;">
              <table height="370px">
                <tr>
                  <th></th>
                  <th>specs</th>
                </tr>
                
                <tr>
                  <td>CPU</td>
                  <td>Nvidia Tegra 3 T30 1.3GHz</td>
                </tr>
                <tr>
                  <td>RAM</td>
                  <td>2GB DDR3</td>
                </tr>
                <tr>
                  <td>GPU</td>
                  <td>heh you're funny</td>
                </tr>
                <tr>
                  <td>HDD</td>
                  <td>64GB</td>
                </tr>
                <tr>
                  <td>OS</td>
                  <td>RaspiOS (originally Win RT 8.1)</td>
                </tr>
              </table>
            </div>
            <p>
            ah yes my surface rt, this bastard is OLDDDD. ok now maybe not that old... i believe my mother got 
            this thing in 2013 or so just to have a computer. and BOY was it one of the worst options. i mean 
            we're talking arm32 infra, a nvidia tegra 3, and like 2 gb of ram. sounds awful right? i hate it! 
            all i remeber from this thing is that i LOVED playing games on it. i also loved snooping in the settings,
            how else do you think i became a nerd?
            </p>
            <p>
            back in october 2025 or so, i decided "hey, i have that surface rt, i should see if i can mod it in 
            any way." and to not much surprise at all, my friend managed to find a raspiOS image exactly for the 
            surface rt. so of course now it has raspiOS on it and i have yet to yet any actual good use for it. 
            you also may be wondering why it's called the BBQRT, well my friend it's a short story really. as i 
            went to take out the flash drive with the image of raspiOS on it, i managed to <i>drop</i> it into my 
            bbq sauce for my chicken nuggs. i told my friend about this and his immediate thought was, "omg it's the 
            bbqrt now". so yeah :kek:
            </p>
            <button onclick="show('adele-ii')"><p>&lt; prev</p></button>
            <button onclick="show('lenovo')"><p>next &gt;</p></button>
          </article>
          <article class="tech-article" id="lenovo" style="display: none;">
            <h1>shitty lenovo</h1>
            <h2 style="margin-bottom: 10px;">oh yeah it loves automatic repair</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/lenovo.jpg" style="margin: auto;">
              <table height="370px">
                <tr>
                  <th></th>
                  <th>specs</th>
                </tr>
                
                <tr>
                  <td>CPU</td>
                  <td>AMD A9-9425 3.1 GHz</td>
                </tr>
                <tr>
                  <td>RAM</td>
                  <td>4GB DDR4</td>
                </tr>
                <tr>
                  <td>GPU</td>
                  <td>integrated (Radeon R5)</td>
                </tr>
                <tr>
                  <td>SDD</td>
                  <td>256GB SATA</td>
                </tr>
                <tr>
                  <td>OS</td>
                  <td>Windows 10 LSTC 2021</td>
                </tr>
              </table>
            </div>
            <p>
            this was my first personal computer! i found it in a closet <b>with</b> its charger and so i 
            used it! for a while i desperately tried running games that clearly wouldn't run on an amd a9 LOL
            but eventually let it sit for a bit. i picked it back up when i got a desk and a monitor to plug 
            it into and i basically had a two monitor setup! that laptop is where i truly got my start on the 
            internet. (yes big mistake i know)
            </p>
            <p>
            now the laptop is sitting under my desk, collecting dust :p it has windows 10 ltsc installed on it rn
            but probs installing haikuOS on it soon... i mainly use it for travel to watch youtube and such, but it 
            is also kinda like a lab rat i guess LOL i tried installing gOS on it a while back, it did NAWT want to 
            work &lt;/3
            </p>
            <button onclick="show('bbqrt')"><p>&lt; prev</p></button>
            <button onclick="show('leefyPC')"><p>next &gt;</p></button>
          </article>
          <article class="tech-article" id="leefyPC" style="display: none;">
            <h1>leefyPC</h1>
            <h2 style="margin-bottom: 10px;">silly little beelink thing</h2>
            <div style="display: flex; align-items: center; justify-content: center; margin: auto;">
              <img src="/images/leefyPC.jpg" style="margin: auto;">
              <table height="370px">
                <tr>
                  <th></th>
                  <th>specs</th>
                </tr>
                <tr>
                  <td>CPU</td>
                  <td>AMD Ryzen 7 PRO 5850U</td>
                </tr>
                <tr>
                  <td>RAM</td>
                  <td>32GB DDR4</td>
                </tr>
                <tr>
                  <td>GPU</td>
                  <td>integrated</td>
                </tr>
                <tr>
                  <td>SDD</td>
                  <td>500GB NVME</td>
                </tr>
                <tr>
                  <td>OS</td>
                  <td>Windows 10 LSTC 2021</td>
                </tr>
              </table>
            </div>
            <p>
            INTRODUCING... my first actual good pc! this pc was actually my father's first, that was until he gave 
            it to me because i used it a lot :3 before he gave it to me, i would venture upstairs just to use it everyday
            (and work on this site!). not only did i work on my site on this pc, but i also LOVED torturing it with cs2.
            nearly played everyday and oh boy was i (and still am) filled with rage :kek: looking back i feel bad for
            my parents considering the pc was in their room T_T
            </p>
            <p>
            as of now? i'd say i treat it quite well! it gets used pretty much everyday, and its last repaste was 
            february-ish of 2026. i don't abuse it with cs2 anymore, but i do abuse it with overwatch!!! &gt;:3
            after using it for almost a year (as of april 2026), i can confidently say that this pc is damn near
            perfect for my needs. i can play all of my favorite games, run gimp pretty smoothly, and i even have 
            a 1TB external to dump games n shit into! thank you beelink for serving me well...
            </p>
            <button onclick="show('lenovo')"><p>&lt; prev</p></button>
            <button onclick="show('adele-ii')"><p>next &gt;</p></button>
          </article>
          <script>
      function show(elementID) {
         // find the requested page and alert if it's not found
        const ele = document.getElementById(elementID);
        if (!ele) {
          alert("no such element");
          return;
        }

        // get all pages, loop through them and hide them
        const pages = document.getElementsByClassName('tech-article');
        for (let i = 0; i < pages.length; i++) {
          pages[i].style.display = 'none';
        }

        // then show the requested page
        ele.style.display = 'block';
        const y = document.getElementById('aside-contain').getBoundingClientRect().top + window.scrollY;
        window.scroll({
          top: y,
          behavior: 'smooth'
        });
      }
    </script>
{% endblock %}