<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
    <title>leefymoon's room - blog posts</title>
    <description>listen to leefy rant about stuff!</description>
    <link>https://leefymoons-room.net/</link>
    <atom:link href="https://leefymoons-room.net/feed.xml" rel="self" type="application/rss+xml" />
    {% block feedItems %}
    {% endblock %}
    </channel>
</rss>